body {
  font-family: sans-serif;
  background: linear-gradient(#e6e6e6, #fafafa);
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/067/790/original/winter.jpg?1676478322);
  background-size: cover;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 24px;
  color: #fff;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

a {
  color: #ce6748;
  font-weight: 900;
  text-decoration: none;
}

@supports (background-clip: text) {
  a {
    background-image: linear-gradient(#e19f63, #d16a51);
    background-clip: text;
    color: transparent;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

body.dark {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/067/711/original/Winter-darkmode.jpg?1676404694);
  background-size: cover;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px 60px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}

.logo {
  margin-top: 20px;
  left: 0;
  width: 200px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 27px;
  height: 15px;
  background-color: #cccccc;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  margin: 42px 10px auto auto;
  transform: scale(1.5);
}

.ball {
  width: 11px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(11px);
}

.fa-moon {
  font-size: 8px;
  color: rgb(165, 149, 161);
  left: 0;
}

.fa-sun {
  font-size: 8px;
  color: rgb(255, 255, 0);
}

.currentTemp {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.currentWeatherIcon {
  margin-left: -15px;
}

.units {
  position: relative;
  top: -12px;
}

.units .active {
  color: #fff;

  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
  cursor: default;
}

#fahrenheit-link {
  text-decoration: none;
  cursor: default;
}

.ontime-city-temperature {
  text-align: left;
  color: #fff;
  font-size: 16px;
}

.selectedCity {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.showHumidity,
.showWind,
.feelingTemperature {
  opacity: 0.7;
}

#humid-percent,
#speed,
#feel-temp {
  color: #ce6748;
}

@supports (background-clip: text) {
  #humid-percent,
  #speed,
  #feel-temp {
    background-image: linear-gradient(#e19f63, #d16a51);
    opacity: 1;
    background-clip: text;
    color: transparent;
  }
}

.row {
  margin-bottom: 30px;
}

.col-4.city {
  top: 0;
  margin-top: 0;
}

.col-8.current-temp {
  left: 0;
  margin-top: 60px;
}

.mb-3 {
  margin: 30px 0;
}

#inputGroupFile04 {
  color: #706c6c;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
  color: #fff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  font-size: 15px;
}

.weather-forecast-temperature-min {
  font-size: 15px;
  opacity: 0.7;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
  line-height: 2.5;
  color: #fff;
}

.githubLink {
  color: #ce6748;
}

.netlifyLink {
  color: #ce6748;
}

@supports (background-clip: text) {
  .githubLink,
  .netlifyLink {
    background-image: linear-gradient(#e19f63, #d16a51);
    background-clip: text;
    color: transparent;
  }
}
